<div id="story_index_header">
  <h4>Story Listings | <%= link_to 'Add a Story', new_story_path, { :class=>"text-right text-white btn btn-primary text-white" } %></h4>
</div>
<div id="body_container" class="wrapper">
  <div class="left_side_wrapper">
    <% @stories.each do |story| %>
    <div class="phigg_container">
        <div class="phigg_header white_link"><%= link_to "#{story.title}", story_path(story.id) %><div>Likes: <%= story.votes_for.size %> | <%= link_to like_story_path(story), method: :put do %>
              +1
          <% end %></div>
        </div>
        <div class="phigg_body"><% if story.text.length > 32 %>
            <%= story.text.first(32) %>... <%= link_to "read more", story_path(story.id) %><br>
          <% else %>
            <%= story.text %><br>
          <% end %>
          <%= image_tag "#{story.img_url}", { :style => "width: 200px;" } %>
        </div>
        <div class="phigg_byline">Created by: <%= story.username %> on <%= story.created_at %>.</div>
    </div>
    <% end %>
  </div>
  <%= render 'rightsidemodules' %>
</div>