<h3>Story Listings</h3>

<p><%= link_to 'Add a Story', new_story_path, class: "button" %></p>

<div id="body_container" class="wrapper">
  <div class="left_side_wrapper">
    <% @stories.each do |story| %>
    <div class="phigg_container">
        <div class="phigg_header"><%= link_to "#{story.title}", story_path(story.id)  %> | <%= story.vote_count %></div>
        <div class="phigg_footer">Created by: <%= story.username %> on <%= story.created_at %>.</div>
        <div class="phigg_body"><%= image_tag "#{story.img_url}", style: "size: 50px;" %></div>
       
    </div>
    <% end %>
  </div>
  <div class="right_side_wrapper">
    <div id="rs_module_1" class="rs_modules"><%# If logged in, User info here ? %>
    </div>
    <div id="rs_module_2" class="rs_modules"><%# Most popular stories ? %>
    </div>
    <div id="rs_module_3" class="rs_modules"><%#  %>
    </div>
    <div id="rs_module_4" class="rs_modules"><%#  %>
    </div>
  </div>

</div>