<%if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<div>
  <div>
    <h1><%= @story.title %></h1>
    <h6>By <%= @story.user_id %></h6>
    <% begin %>
      <%= image_tag "#{@story.img_url}" %>
    <% rescue %>
    <% end %>
    <div>
      <p><%= @story.text %></p>
    </div>
  </div>
</div>

<%-# gene commenting%>
<div>

<section>

<%= form_for [@story ,Comment.new] do |form| %>
    <%= form.hidden_field :username, value: 'gradcliffe' %>
    <%= form.text_area  :text, class:"form-control", placeholder: 'Add A Comment'%>   
    <%= form.submit 'Add Comment', class:"btn btn-controller"%>
<% end %>
</section>

</div>

<div>
<h3>Comments</h3>
<% @story.comments.each do |comment| %>
    <div class="">
        <ul>
            <li>
            <p><%= "user: #{comment.username}"%></p>
            <p><%= comment.text %></p>
            <% date = Time.now%>
            <%total = date - comment.created_at%>
        
            <p><%= "Submitted: #{} ago"%>
            </li>
        </ul>
        
    </div>
<%end%>
</div>
