<%if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<div>
  <div>
    <h1><%= @story.title %></h1>
    <h6>By <%= @story.user_id %></h6>
    <% begin %>
      <%= image_tag "#{@story.img_url}" %>
    <% rescue %>
    <% end %>
    <div>
      <p><%= @story.text %></p>
    </div>
  </div>
</div>

<%= link_to 'Back', stories_path %>
