<%if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<div class="show_story_container">
    <div class="show_story_headline"><%= @story.title %><%= link_to "#{image_tag 'giveaphigg.png', class: "givaphigg"}", Stories.vote %><%= @story.vote_count %></div>
    <div class="show_story_byline">Added by <%= @story.user_id %> at <%= @story.created_at %>.</div>
    <div class="show_story_body">
        <div class="show_story_img_container"><%= image_tag "#{@story.img_url}", class: "show_story_image" %></div>
        <div class="show_story_text"><%= @story.text %></div>
    </div>
<<<<<<< HEAD
    <section>
       
    </section>
    <section>
        <%= form_for [@story, Comment.new] do |form|%>
            <%= form.text_area :text, placeholder: "Comment" %>
            <%= form.submit "Comment"%>
        <%end%>
    </section>
    <ul>
       <% @comments = @story.comments%>
       <%= render(partial: 'comments/comment', collection: @story.comments)%>
    </ul>
    

  </div>
</div>


=======
</div>

<%# gene commenting%>

<div id="comments_container">
    <%=form_for :comment do |form| %>
        <section>
            <%= form.text_field :text %>
        </section>
    <% end %>
    <% if @comments %>
        <section>
            <%= @comments.each do |comment|%>
            <div>
                <section class="comment-header"><strong><%=comment.username%></strong></strong>
                <section class="comment-content">
                    <p class="comment-content__text">
                        <%=comment.text%>
                    </p>
                </section>
            </div>
            <% end %>
        </section>
    <% end %>
</div>
>>>>>>> development
