<h4>User account</h4>


<%= form_with scope: :user, url: users_path, local: true do |form| %>
    
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    
    
    
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </p>

    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

    <p>
      <%= form.label :password %><br>
      <%= form.text_field :password %>
    </p>

    <p>
      <%= form.label :password_confirmation %><br>
      <%= form.text_field :password_confirmation %>
    </p>
   
    <p>
      <%= form.submit %>      
    </table>


    </p>
  <% end %>